/* borough.html */
a.filter {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    background-color: orange;
    color: white;
    margin: 10px 20px;
}
.centered {text-align: center;}
#pieChart {
    width: 800px;
    margin-left: auto; 
    margin-right: auto;
}
#speciesTableContainer {
    height: 10em;
    width: 430px;
    overflow: scroll;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 2px solid #888;
}
table.info {
    border-collapse: collapse;
}
table.info th {background-color: #DBA279;}
table.info tr:nth-child(odd) {background-color: #E0CABA;}/*#D4AC90;*/
#barChart {
    margin-top: 2em;
    border: 1px solid black;
}
.bar {
    background-color: #ccf;
    height: 30px;
    font-weight: bold;
    text-align: left;
    border: 1px solid white;
}
/* map.html */
.grayBox {
    background-color: #dfdfdf;
    padding: 10px;
    margin: 1in 1in;
}
.grayBox a {
    color: #5694A2;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    font-family: sans-serif;
}
.grayBox a:hover {
    text-decoration: underline;
}