<!DOCTYPE html>
<html>
    <head>
      <title>Works Cited</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/layout.css">
    </head>
    <body>
      <div class="container">
        <h1 class="centered">About the Data</h1>
        <p>Team Marshmalians:
            <ul>
                <li>Fabiha Ahmed (Project Manager)</li>
                <li>Cynthia Cheng (Front end, data plotting)</li>
                <li>Connie Lei (Data plotting, information display)</li>
                <li>Max Zlotskiy (flask backend and <a href="/charts/boroughs.html">statistics by borough</a>)</li>
            </ul>
        </p>
        <p>
          Now everyone knows trees are good for the environment. They provide us with oxygen to breathe, shade to cool down in etc.. but do they serve a greater purpose? Does the density and health of trees correlate with house fires, homeless shelters, rat sightings, even crime? Our team the Marshmalians wondered those same thoughts. We amalgated and analyzed different websites and databases to analyze these trends and discover if trees do much more than we anticipated...
        </p>
        <p>Our data is from <a href="https://www.kaggle.com/nycparks/tree-census/data">kaggle.com</a> and <a href="https://opendata.cityofnewyork.us/">OpenData NYC</a>. The  website has tree census data collected by the Department of Parks and Recreation for 1995, 2005 and 2015. We used data from 2015. However, due to the sheer amount of data we weren't able to include all of the data while maintaining easy user readibility. We only included the first 1000 trees and rat sightings.</p>
	</div>
        <div class="grayBox centered">
            <a href="/">About the Project</a>
            <a href="/charts/map.html">See the Map</a>
            <a href="/charts/boroughs.html">Statistics on each borough</a>
            <a href="/charts/plot.html">Fire and forestry scatter plots</a>
        </div>
    </body>
</html>
