<!DOCTYPE html>
<html>
    <head>
        <title>Works Cited</title>
        <link rel="stylesheet" type="text/css" href="/static/layout.css">
    </head>
    <body>
        <h1 class="centered">About the Data</h1>
        <p> Now everyone knows trees are good for the environment. They provide us oxygen to breathe, shade to cool down in</p>
        <div class="grayBox centered">
            <a href="/">About the Project</a>
            <a href="/charts/map.html">See the Map</a>
            <a href="/charts/boroughs.html">Statistics on each borough</a>
            <a href="/charts/plot.html">Fire and forestry scatter plots</a>
        </div>
    </body>
</html>
