<!DOCTYPE html>
<html>
<head>
    <title>Sums</title>
    <link rel="stylesheet" type="text/css" href="/static/layout.css">
</head>
<body>
    <h1 class="centered">Totals</h1>
    <h3 class="centered">Click on a borough below to filter the tree data</h3>
    <p class="centered">
        <a class="filter" href="?big=apple"          id="nyc">New York City</a>
        <a class="filter" href="?city=brooklyn"      id="brooklyn">Brooklyn</a>
        <a class="filter" href="?city=queens"        id="queens">Queens</a>
        <a class="filter" href="?city=manhattan"     id="manhattan">Manhattan</a>
        <a class="filter" href="?city=staten island" id="staten island">Staten Island</a>
        <a class="filter" href="?city=bronx"         id="bronx">Bronx</a>
    </p>
    <div id="pieChart"></div>
    <div id="speciesTableContainer">
        <table id="speciesTable" border="1" class="info"><tr><th>Species Name</th><th>Amount of trees of this type</th></tr></table>
    </div>
    <div id="barChart"></div>
    <div class="grayBox centered">
        <a href="/">See the Map</a>
        <a href="/charts/plot.html">Fire and forestry scatter plots</a>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/4.7.2/d3.min.js"></script>
    <script type="text/javascript" src="/static/d3pie.min.js"></script>
    <script type="text/javascript" src="/scripts/boroughs.js?city={{borough}}"></script>
</body>
</html>
