<!DOCTYPE html>
<html>
  <head>
    <title>Marshmalians</title>
    <link 
       rel="stylesheet" 
       href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
       />
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <script
       src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js">
    </script>
  </head>
  <body>

    <h1> Trees of NYC </h1>
       
    <div name='{{trees}}' id="map" style="width:80em; height:60em"></div>

    <script type="text/javascript" src="../static/map.js"></script>

  </body>
</html>
