<!DOCTYPE html>
<html>
    <head>
        <title>By Zipcode</title>
        <link rel="stylesheet" type="text/css" href="/static/layout.css">
    </head>
    <body>
        <h1 class="centered">Correlating Data By Zipcode</h1>
        <svg xmlns="http://www.w3.org/2000/svg" id="svg"></svg>
        <p>Each point on the scatter plot above is a zipcode in NYC. Its x-coordinae is the amount of trees counted there. Its y-coordinate is the number of fires reported there.</p>
        <div class="grayBox centered">
            <a href="/">About the Project</a>
            <a href="/charts/map.html">See the Map</a>
            <a href="/charts/boroughs.html">Statistics on each borough</a>
            <a href="/charts/plot.html">Fire and forestry scatter plots</a>
        </div>
    </body>
</html>